Source: ros-indigo-lj-costmap
Section: misc
Priority: extra
Maintainer: Gaël Ecorchard <gael.ecorchard@ciirc.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-crossing-detector, ros-indigo-geometry-msgs, ros-indigo-lama-interfaces, ros-indigo-lama-jockeys, ros-indigo-lama-msgs, ros-indigo-nav-msgs, ros-indigo-polygon-matcher, ros-indigo-roscpp
Homepage: http://wiki.ros.org/lj_costmap
Standards-Version: 3.9.2

Package: ros-indigo-lj-costmap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-crossing-detector, ros-indigo-geometry-msgs, ros-indigo-lama-interfaces, ros-indigo-lama-jockeys, ros-indigo-lama-msgs, ros-indigo-nav-msgs, ros-indigo-polygon-matcher, ros-indigo-roscpp
Description: The lj_costmap package implements a localizing jockey for the Large Maps framework (LaMa) based on a local costmap (costmap position is relative to the sensor but orientation is absolute). Implement a localizing jockey from a LaserScan. The associated descriptors are LaserScan[] and Crossing.
