Source: ros-indigo-nj-oa-costmap
Section: misc
Priority: extra
Maintainer: Gaël Ecorchard <gael.ecorchard@ciirc.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-geometry-msgs, ros-indigo-lama-jockeys, ros-indigo-map-ray-caster, ros-indigo-nav-msgs, ros-indigo-nj-oa-laser, ros-indigo-roscpp, ros-indigo-tf
Homepage: http://wiki.ros.org/nj_oa_laser
Standards-Version: 3.9.2

Package: ros-indigo-nj-oa-costmap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-geometry-msgs, ros-indigo-lama-jockeys, ros-indigo-map-ray-caster, ros-indigo-nav-msgs, ros-indigo-nj-oa-laser, ros-indigo-roscpp, ros-indigo-tf
Description: The nj_oa_costmap package is a navigating jockey for the Large Maps framework. Its role is to drive the robot forward while avoiding obstacles. It uses a local map which position is relative to the robot but which orientation is constant.
