Source: ros-indigo-nj-costmap
Section: misc
Priority: extra
Maintainer: Gaël Ecorchard <gael.ecorchard@ciirc.cvut.cz>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-crossing-detector, ros-indigo-geometry-msgs, ros-indigo-goto-crossing, ros-indigo-lama-jockeys, ros-indigo-lama-msgs, ros-indigo-nav-msgs, ros-indigo-nj-oa-costmap, ros-indigo-roscpp, ros-indigo-tf, ros-indigo-visualization-msgs
Homepage: http://wiki.ros.org/nj_costmap
Standards-Version: 3.9.2

Package: ros-indigo-nj-costmap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-crossing-detector, ros-indigo-geometry-msgs, ros-indigo-goto-crossing, ros-indigo-lama-jockeys, ros-indigo-lama-msgs, ros-indigo-nav-msgs, ros-indigo-nj-oa-costmap, ros-indigo-roscpp, ros-indigo-tf, ros-indigo-visualization-msgs
Description: The nj_costmap package implements a navigation jockey for the Large Maps framework (LaMa) based on a local costmap (costmap position is relative to the sensor but orientation is absolute).
